fastapi
uvicorn[standard]

sqlalchemy
alembic

psycopg2-binary

python-jose[cryptography]

passlib[bcrypt]

python-multipart

websockets

cryptography

redis

aiofiles

Pillow

firebase-admin

python-dotenv

pydantic

pydantic-settings